<div class="row pt-5">
    <div class="col-md-4 mb-3" *ngFor="let meal of meals">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ meal.title }}</h5>
                
                <p class="card-text">Content: {{ meal.content }}</p>
                <p class="card-text">Calories: {{ meal.calories }}</p>
                <p class="card-text text-muted">{{ meal.date | date:'medium' }}</p> 
                <button type="button" class="btn btn-danger rounded-0">Update Meal</button>
            </div>
        </div>
    </div> 
</div>
